.successSection__MainContainer{
    /* background-image: url(../../assets/success-bg.png); */
    background-color: #282627;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
}
.successSection__Content-Title{
    font-family: "DM Serif Text", serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 110px;
    text-align: center;
    font-style: italic;
    color: #FFF;
}
.successSection__Content-AltTitle{
    font-family: "Archivo", sans-serif;
    font-style: normal;
}
.successSection__Content-CardsContainer{
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
}

.successSection__Carousel-Container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.successSection__Carousel-Track{
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
}
.carousel__BtnContainer{
    display: flex;
    gap: 80px;
    padding-top: 50px;
}
.carousel__Btn{
    background-color: #282627;
    border: none;
} 

/* Tablet */
@media (max-width: 1440px) {
    .successSection__FireEmoji-Container{        
        left: -2%;
        top: 980vh;
    } 
}
@media (max-width: 1200px) {
    .successSection__Content-Container{
        width: 100%;
    }
    .successSection__Content-CardsContainer{
        margin: 0;
        margin-top: 50px;
    }
}
@media (max-width: 1024px) {
    .successSection__MainContainer{        
        padding: 10px;        
    }
    .successSection__Content-Container{
        width: 100%;
    }
    .successSection__Content-Title{        
        font-size: 40px;        
        line-height: 60px;
    }
    .successSection__Content-CardsContainer{
        margin: 10px;                
        gap: 20px;
        padding: 10px;
    }        
}
/* Mobile */
@media (max-width: 768px) {
    .successSection__MainContainer{        
        padding: 20px;        
    }
    .successSection__Content-Container{
        width: 100%;
    }
    .successSection__Content-Title{        
        font-size: 40px;        
        line-height: 60px;
    }
    .successSection__Content-CardsContainer{
        margin: 20px;
        flex-direction: column;        
        gap: 10px;
        padding: 20px;
    }
    .successSection__Content-TitleContainer{
        width: 100%;
    }    
}
@media (max-width: 576px) {
    .successSection__Carousel-Track {
        display: flex;
        overflow: hidden;
        width: 100%; /* Ajusta el ancho del contenedor */
    }
    .successCard__Container {
        width: 100%; /* Ocupa el ancho completo en pantallas pequeñas */
    }
}
