.hero__MainContainer{
    background-image: url(../../assets/heroBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;    
    height: 110vh;
    margin-top: -90px;
}

.active-background{
    background-color: #ffffff00;
}
.hero__Title-Container{    
    margin-top: 50px;
    padding-right: 500px;
}
.hero__Title{
    font-family: "DM Serif Text", serif;
    font-weight: 600;
    font-size: 95px;
    color: #FFF;
    margin-top: 300px;    
    letter-spacing: 2px;
}
.hero__Btn-Container{
    margin-top: 80px;
}

@media (max-width: 1200px) {
    .hero__Title-Container{    
        margin-top: 30px;
        padding-right: 270px;
    }
}
@media (max-width: 1024px) {
    .hero__Title-Container{    
        margin-top: 50px;
        padding-right: 20px;
    }
}
@media (max-width: 768px) {
    .hero__MainContainer{
        padding: 0;
        background-image: url(../../assets/homepage-heroimg-mobile.jpg);
    }
    .hero__Title-Container{    
        margin-top: 50px;
        padding-right: 0;       
        padding: 0 15px; 
        width: 100%;
    }
    .hero__Title{        
        font-size: 50px;        
        margin-top: 300px;
        text-align: center;
        font-weight: 400;
        line-height: 48px;
        padding: 0 20px;
    }
    .hero__Btn-Container{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding: 0 20%;
    }
}