.strategySection__MainContainer{
    background-color: #FFFEF6;    
    width: 100%;        
    height: auto;
    padding-bottom: 150px;
}
.strategySection__Content-Container{
    background-image: url(../../assets/gradientBg.png);
    background-position: center bottom;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.strategySection__Title{
    font-family: "DM Serif Text", serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 76px;
    text-align: center;
}
.strategySection__Text-Container{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 20px 350px;
    margin-left: -300px;
}
.strategySection__Text{
    font-family: "Archivo", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;    
}

/* Carousel */
.carousel-card {
    height: 100%; /* Ajusta según tu diseño general */
    display: flex;
    align-items: center;
    max-height: 1500px; /* Duplicando la altura máxima */
    max-width: 1400px; /* Duplicando el ancho máximo */
}
.strategySection__CarouselContainer {
    height: 700px; /* Duplicando la altura para adaptarse al tamaño de las imágenes */
}
.carousel-container {
    overflow: hidden;
    position: relative;
    height: 700px; /* Altura duplicada */
    width: 100%;
}
.carousel-track{
    display: flex;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 60px;
    width: 1200%;
    height: 700px;
    animation: slide 20s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}
.carousel-reverse{    
    animation: slide 20s linear infinite reverse;    
}

@keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@media (max-width: 1980px) {
    .strategySection__CarouselContainer {
        height: 500px;
    }   
}
@media (max-width: 1440px) {
    .strategySection__Title{
        padding: 10px;
    }
    .strategySection__Text-Container{         
        padding: 20px 250px;        
    }
    .carousel-track{        
        width: 1100%;        
    }
    .strategySection__CarouselContainer{
        height: 500px;        
    }
}

@media (max-width: 1200px) {    
    .carousel-track{        
        width: 1200%;        
    }
}

@media (max-width: 1024px) {
    .strategySection__Title{
        padding: 10px;
    }
    .strategySection__Text-Container{         
        padding: 20px 250px;        
    }
    .carousel-track{        
        width: 1400%;        
    }
}
@media (max-width: 768px) {
    .strastegySection__MainContainer{
        background: radial-gradient(circle at center top, #EBFF7D, #FFFEF6);    
        height: 100%;
    }    
    .strategySection__Title{        
        font-size: 40px;        
        line-height: 40px;        
    }
    .strategySection__ThinkingEmoji{
        width: 50%;
    }
    .strategySection__Text{        
        font-size: 18px;
        line-height: 20px;
    }
    .strategySection__Text-Container{          
        flex-direction: column;
        padding: 20px 20px;
        margin-left: 0px;
    }
    .strategySection__CarouselContainer{
        height: 200px;        
    }
    .carousel-container{
        height: 300px;
    }    
    .carousel-track{    
        height: 100%;    
        width: 1000%;  
        gap: 5px;      
    }
}

@media (max-width: 576px) {
    .carousel-track{    
        height: 300px;    
        width: 1500%;  
        gap: 5px;      
    }   
    .carousel-container {        
        height: 300px;      
    }
    
}
