.vsSection__Main-Container{
    width: 100%;   
    padding-top: 200px;
}
.vsSection__Title-Container{
    display: flex;
    width: 100%;
    justify-content: space-around;    
}
.vsSection__Title{
    font-size: 80px;
    font-weight: 600;
    font-family: "Archivo", sans-serif;
}
.vsSection__Title2{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}
.vsSection__Title3{
    color: #FC5306;
}
.vsSection__VS-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    width: 90%;    
}
.vsSection__Image-Container {
    flex: 1 1 auto; 
    max-width: 100%;
    text-align: center;
  }
  .vsSection__Image,
  .vsSection__Image-Arrow {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

/* BEFORE STYLE */

.mockup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    /* margin: 0 auto;     */
  }
  
  .phone-img, .phone-img-after {
    width: 100%;
    display: block;
    transform: rotate(-4deg);
  }
  .phone-img-after{
    transform: rotate(4deg);
  }

  
  /* Bubble base style */
  .bubble {
    position: absolute;
    background-color: #ff5a00;
    color: white;    
    padding: 0.7em 1em;
    border-radius: 999px;
    font-family: "Archivo", sans-serif;
    font-size: 24px;    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    line-height: 24px;
  }
  
  /* Positioning with percentages (responsive) */
  .bubble-top-left {
    top: 3%;
    left: -5%;
    transform: rotate(-10deg);
  }
  
  .bubble-bottom-left {
    bottom: 15%;
    left: -5%;
    transform: rotate(-15deg);
  }
  
  .bubble-bottom-center {
    bottom: 5%;
    left: 25%;
    transform: rotate(5deg);
  }
  
  .bubble-bottom-right {
    bottom: 18%;
    right: -8%;
    transform: rotate(10deg);
  }
  
  .emoji {
    margin-left: 0.4em;
  }

  /* AFTER STYLE */
  .bubble-after{
    position: absolute;
    background-color: #DAFF01;
    color: #262827;    
    padding: 0.7em 1em;
    border-radius: 999px;
    font-family: "Archivo", sans-serif;
    font-size: 24px;    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    line-height: 24px;
  }
  .bubble-bottom-left-alt-text{
    font-family: "DM Serif Text", serif;
    font-style: italic;
  }
  .bubble-bottom-center-text{
    font-size: 18px;
    font-weight: 400;
  }
  .bubble-after-top-left{
    top: 3%;
    left: -5%;
    transform: rotate(10deg);
  }
  .bubble-after-bottom-left{
    bottom: 15%;
    left: -5%;
    transform: rotate(-5deg);
  }
  .bubble-after-bottom-center{
    bottom: 1%;
    left: 10%;
    transform: rotate(-1deg);
    width: 100%;
  }

@media (max-width: 1024px) {
    .vsSection__Title{
        font-size: 50px;
    }
    .bubble, .bubble-after {
      font-size: 0.75em;
      padding: 0.6em 0.9em;
    }
  .bubble-bottom-center-text{
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    .vsSection__Main-Container{
        width: 100%;   
        padding: 0;
        padding-top: 100px;
        overflow-x: hidden;
    }
    .vsSection__Title-Container{
        flex-direction: column;
        padding: 20px;
        gap: 10px;        
        align-items: center;
    }
    .vsSection__Title{
        font-size: 38px;
        line-height: 40px;
        text-align: center;
    }
    .vsSection__VS-Container{
        flex-direction: column;
        width: 100%;      
        justify-content: center;  
        align-items: center;
        gap: 20px;
    }
    .vsSection__Image-Container{
        width: 100%;
        display: flex;    
        justify-content: center;
        align-items: center;
    }    
    .vsSection__Image, .vsSection__Image-After {
        width: 80%;        
    }
    .vsSection__Image-Arrow{
        width: 50%;
        transform: rotateY(180deg);
        transform: rotateX(180deg);        
    }

    
    .bubble-after-bottom-center{
        left: 0%;    
      }

}