.caseStudyMain__MainContainer{
    background-color: #FFFEF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 100px;
}
.caseStudyMain__Title{
    font-family: "DM Serif Text", serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
    padding: 0 80px;
}
.caseStudyMain__Row{
    width: 100%;    
}
.caseStudyMain__ColumnLeft{
    background-image: url(../../assets/circle-bg-black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;    
}
.caseStudyMain__ColumnRight{
    background-image: url(../../assets/yellowSpark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 
}
.caseStudyMain__ColumnRight-Content-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 160px;
    gap: 30px;
}
.caseStudyMain__ColumnRight-Content{
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    line-height: 26px;    
}

.grid-container1, .grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr;
    gap: 0; 
  }
  
  .grid-container > div {
    border: 0; 
  }
  
  .grid-container1 > div:nth-child(1) { /* Elemento superior izquierdo */
    border-right: 1px solid rgba(0, 0, 0, 0.306);    
  }
  
  .grid-container2 > div:nth-child(2) { /* Elemento superior derecho */
    border-left: 1px solid rgba(0, 0, 0, 0.306);    
  }  
  
  .caseStudyMain__ColumnRight-Content-Left-Number{
    font-size: 80px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    line-height: 70px;    
}
.caseStudyMain__ColumnRight-Content-Right{
    border: solid rgba(40, 38, 39, 0.6);
    border-width: 0 0 0 1px ;
}
.caseStudyMain__ColumnRight-Content-Data-Container-Right{
    padding: 0 0 0 50px;
}
.caseStudyMain__ColumnRight-Content-Left-Text{
    font-family: "Archivo", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.content__Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
}
@media (max-width: 1200px) {
    .caseStudyMain__MainContainer{        
        padding: 50px 0;
    }
    .caseStudyMain__ColumnRight-Content-Container{
        padding: 50px;
    }
}
@media (max-width: 1024px) {
    .caseStudyMain__MainContainer{        
        padding: 50px 0;
    }
    .caseStudyMain__Title{        
        font-size: 40px;   
        line-height: 50px;     
    }
    .caseStudyMain__ColumnRight{
        padding: 20px;
    }
    .caseStudyMain__ColumnRight-Content-Container {        
        padding: 0;
    }
    .caseStudyMain__ColumnRight-Content-Left-Number{
        font-size: 50px;        
    }
    .content__Container{     
        padding: 20px;        
    }
    
}
