.algorithm__MainContainer{
    background-color: #282627;
    width: 100%;
}
.algorithm__LeftColumn{
    padding-top: 75px;
    padding-left: 100px;
}
.algorithm__Title{
    font-family: "Archivo", sans-serif;
    color: #93A2FD;
    font-size: 82px;
    line-height: 78px;
    font-weight: 800;
}
.algorithm__Title-Cel{
    display: none;
}
.algorithm__SubTitleContainer-cel{
    display: none;
}
.algorithm__SubTitle-cel{
    display: none;
}
.algorithm__Title-Color{
    color: #FF45C7;
}

.algorithm__SubTitle{
    font-family: "Archivo", sans-serif;
    color: #93A2FD;
    font-size: 82px;
    line-height: 78px;
    font-weight: 800;
}

.algorithm__LeftImageContainer{
    margin-top: 40px;
    padding-right: 70px;
}

.algorithm__RightColumn{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: right;
    margin-bottom: -5px;
}
.algorithm__RightImageContainer{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.algorithm__RightImage{
    width: 100%;        
}
@media (max-width: 1440px) {        
    .algorithm__RightColumn{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;

    }
}
@media (max-width: 1200px) {    
    .algorithm__LeftColumn{                
        padding: 20px 10px;       
    }    
}

@media (max-width: 1024px) {
    .algorithm__LeftColumn{
        padding-top: 0;
        padding-left: 0;
        padding: 10px;
    }
    .algorithm__Title{        
        font-size: 82px;
        line-height: 80px;        
    }   
}
@media (max-width: 768px) {    

    .algorithm__LeftColumn{                
        display: flex;
        justify-content: center;
        flex-direction: column; 
        padding: 10px;       
    }
    .algorithm__RightColumn{                
        display: flex;
        justify-content: center;
        flex-direction: column; 
        padding: 10px;       
    }
    .algorithm__Title{        
        font-size: 50px;
        line-height: 48px;
        font-weight: 800;
        text-align: center;
        display: none;
    }    
        
    }
    .algorithm__Cel-Title{        
        font-family: "Archivo", sans-serif;
        color: #93A2FD;
        font-size: 40px;
        line-height: 48px;
        font-weight: 800;
        text-align: center;
    }
    .algorithm__SubTitleContainer-cel{
        display: flex;
    }    
    .algorithm__SubTitle{             
        display: none;
    }  
    .algorithm__LeftImageContainer{
        margin-top: 40px;
        padding-right: 0;
        
    }
    .algorithm__RightColumn{
        padding: 0;        
    }
    .algorithm__RightImageContainer{     
        justify-content: center;
        align-items: center; 
        flex-direction: column;               
    }
    
