.cta__Container{
    background-color: #DAFF01;
    border: 1.6px solid #242424;
    border-radius: 50px;
    padding: 8px 46px;
    /* width: 267px; */
    width: fit-content;
    display: flex;
    justify-content: center;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    color: #242424;
    font-size: 30px;    
    transition: all 0.35s ease-out;
    cursor: pointer;
}
.cta__Container:hover{
    background-color: #242424;    
    color: #DAFF01;
    border: 1.6px solid #DAFF01;
    -webkit-transform: scale(0.9);  
    transform: scale(0.9);
}

@media (max-width: 768px) {
    .cta__Container{        
        border: 1.6px solid #242424;       
        width: 100%;
        font-size: 28px;   
        font-weight: 400;   
        padding:  8px 28px 8px 28px;  
    }
}