.creativeProcessCard__Container{
    background-color: #282627;
    border-radius: 12px;
    border: solid 1px #DAFF01;
    color: #DAFF01;
    text-align: center;
    padding: 32px;    
    font-size: 32px;
    width: 60%;
}
.creativeProcessCard__Container ul{
    list-style: none;
}
.creativeProcessCard__Container ul hr{
    border-width: 3px;   
    border-color: #DAFF01;
}
.creativeProcess__Text1{
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-weight: 400;
}
.creativeProcess__Text2{
    font-family: "Archivo", sans-serif;    
    font-weight: 400;
    font-size: 24px;
}
@media (max-width: 1200px) {
    .creativeProcess__MainContainer{
        padding: 20px;
    }
    .creativeProcessCard__Container{        
        padding: 12px;            
        width: 100%;
    }
    .creativeProcessCard__Container{          
        font-size: 24px;        
    }
}