.caseStudies__MainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282627;    
    color: #242424;
}
.caseStudies__Hero-Container{
    width: 100%;    
    
}
.caseStudies__Hero-Container-Main{
    background-image: url(../../assets/caseStudy-background.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;    
}

.caseStudies__Hero-LeftColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 145px;
    
}
.caseStudies__Title{
    font-family: "DM Serif Text", serif;
    color: #fff;
    font-size: 90px;
    font-weight: 900;
}
.caseStudies__Hero-RightColumn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
}
.caseStudy__Star{
    width: 400px;
    position: absolute;
    bottom: -5%;
}
.caseStudies__StudioTSkate{
    /* object-fit: cover;     */
    height: 80%;    
    width: auto;
}

@media (max-width: 1024px) {
    .caseStudies__Hero-LeftColumn{
        padding-left: 15px;
        position: relative;
        z-index: 900;
    } 
    .caseStudies__StudioTSkate{        
        height: 70%;    
        width: auto;
    }    
    .caseStudies__Hero-Container-Main{
        height: 90vh;
    }
}
@media (max-width: 768px) {
    .caseStudies__Hero-LeftColumn{
        padding-left: 50px;
        position: relative;
        z-index: 900;
    }
    .caseStudies__Hero-RightColumn{             
        align-items: center;        
    } 
    .caseStudies__StudioTSkate{
        object-fit: cover;    
        height: 30%;    
        width: auto;
    }
    .caseStudies__Title{        
        font-size: 50px;        
    }
    .caseStudies__Hero-LeftColumn{        
        height: 50vh;
    }
    .caseStudies__Hero-Container-Main{
        height: 50vh;
        background-size: contain;        
    }
}
@media (max-width: 576px) {
    .caseStudies__Hero-Container-Main{
        height: 50vh;
        background-size: contain;        
        background-position: bottom right;
        padding-top: 50px;
    }
    .caseStudies__Hero-LeftColumn{
        padding-left: 20px;     
        padding-right: 0;
    }
    .caseStudies__StudioTSkate{         
        height: 35%;    
        width: auto;
    }
    .caseStudies__Hero-RightColumn{        
        height: 50vh;
    }
}