.caseStudies__MainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282627;    
    color: #242424;
}
.caseStudies__Hero-Container{
    width: 100%;    
    
}
.caseStudies__Hero-Container-Main{    
    width: 100%;
    height: auto;    
    padding: 200px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caseStudies__Title{
    font-family: "DM Serif Text", serif;
    color: #fff;
    font-size: 90px;
    font-weight: 800;
}
.caseStudies__Title2{
    font-family: "Archivo", sans-serif;
    color: #DAFF01;
    font-style: italic;
    font-weight: 500;
}
.caseStudies__CS-Container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    margin: 50px 0;   
}
.caseStudies__CS-Container img{    
    border-radius: 10px;
    width: 80%;
}
.caseStudies__Image-Link{
    text-align: center;
}
.caseStudies__CS-Title-Container{
    width: 100%;
    text-align: center;
}
.caseStudies__CS-Tag{
    font-family: "DM Serif Text", serif;
    color: #fff;
    font-style: italic;
    font-weight: 400;
}
.caseStudies__CS-Title{
    font-family: "Archivo", sans-serif;
    color: #fff;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
    line-height: 38px;
}

@media (max-width: 576px) {
    .caseStudies__Title{
        font-family: "DM Serif Text", serif;
        color: #fff;
        font-size: 55px;
        font-weight: 800;
    }
    .caseStudies__Title2{
        font-family: "Archivo", sans-serif;
        color: #DAFF01;
        font-style: italic;
        font-weight: 500;
    }
    .caseStudies__Hero-Container-Main{            
        padding: 100px 0;        
    }
    .caseStudies__CS-Title{        
        font-size: 24px;        
        line-height: 24px;
    }
    .caseStudies__CS-Tag{
        font-size: 16px;
        font-weight: 400;
    }
}