.contact__MainContainer{
    background-color: #93A2FD;        
    width: 100%;
    padding: 50px 100px;
}
.contact__Title-Container{    
    width: 100%;
    height: auto;    
}
.contact__Title{
    font-family: "DM Serif Text", serif;
    font-size: 80px;
    line-height: 86px;
    color: #242424;
    text-align: center;
    font-style: italic;
}
.contact__Title2{
    font-family: "Archivo", sans-serif;
    color: #FFFFFF;
}
.contact__Text-Container{
    width: 100%;
    height: auto;    
}
.contact__Text{
    font-family: "Archivo", sans-serif;
    color: #242424;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}
.contact__Form-Container{
    width: 100%;
    padding: 50px 200px;
}
.active-background{
    background-color: #ffffff00;
}
.hs-form-required{
    color: #242424;
}
.expand-container{
    height: 100px;
}
.contact__Form{
    font-family: "Archivo", sans-serif;
    font-size: 22px;
    color: #242424;
}
.form__Input{
    border-radius: 50px;
}
.contactForm__CTA{
    background-color: #E6FF58;
    border: solid 1px #242424;
    border-radius: 50px;
    font-weight: 600;
    padding: 10px 40px;
    text-align: center;
    color: #242424;
    transition: all 0.3s ease-in-out;
}
.contactForm__CTA:hover{
    background-color: #242424;
    border: solid 1px #E6FF58;    
    color: #E6FF58;
}
@media (max-width: 1024px) {    
    .contact__Form-Container{        
        padding: 50px 30px;
    }
}
@media (max-width: 768px) {
    .contact__MainContainer{        
        padding: 50px 10px;
    }
    .contact__Form-Container{
        width: 100%;
        padding: 50px 20px;
    }
}