.WWS__CaseStudy-MainContainer{
    padding-top: 150px;
}
.WWS__hero-container{
    width: 80%;
}
.WWS__hero-container img{
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 5px  #26282710);
}
.WWS__hero-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
}
.WWS__hero-title{
    font-family: "Archivo", sans-serif;
    color: #262827;
    font-size: 80px;
    font-weight: 500;
    text-align: left;
    line-height: 80px;
}
.WWS__hero-text{
    font-family: "Archivo", sans-serif;
    color: #262827;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    line-height: 22px;
}
.WWS__hero-tag{
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-size: 24px;
}

/* Stats */
.WWS__hero-stats-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0;
}
.WWS__hero-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    padding: 0 20px 0 0;
}
.WWS__hero-stats-image-container h2{
    font-size: 48px;
}
.WWS__hero-stats-text-container p{
    font-family: "Archivo", sans-serif;
    font-size: 20px;
    margin: 0;
}
.WWS__hero-stats-text-container h2{
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.WWW__hero-line-vertical{
    background-color: #26282725;
    width: 1px;
    height: auto;
}
.WWS__hero-stats3-text{
    font-size: 26px !important;    
}

/* Challenge */
.WWS__hero-challenge-container, .WWS__hero-challenge-title-container, .WWS__hero-results-container{
    width: 80%;
    justify-content: center;
    align-items: center;
    padding:100px 0;
}
.WWS__hero-challenge-title-container, .WWS__hero-results-title-container{
    width: 100%;    
}
.WWS__hero-results-title-container h2, .WWS__hero-challenge-title-container h2 {    
    text-align: center;
    font-family: "Archivo", sans-serif;
}
.WWS__hero-results-title-container p, .WWS__hero-challenge-title-container p {    
    text-align: center;
    font-family: "Archivo", sans-serif;
}
.WWS__hero-challenge-title-container h2, .WWS__hero-results-title-container h2{ 
    font-size: 48px;
}
.WWS__hero-challenge-title-container p, .WWS__hero-results-title-container p{
    font-size: 24px;
}
.WWS__hero-challenge-image-container{
    display: flex;
    justify-content: space-between;    
}
.WWS__hero-challenge-image-container img{
    width: 400px;
    filter: drop-shadow(0px 15px 5px  #26282715);
    border-radius: 5px;    
}
/* Solution */
.WWS__hero-solution-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.WWS__hero-solution-title-container{
    width: 50%;
    padding: 0 20px 0px 0;
}
.WWS__hero-solution-title-container h2{
    font-size: 48px;
}
.WWS__hero-solution-title-container p{
    font-size: 24px;   
    text-align: left;
    font-weight: 400;
}
.WWW__hero-line-horizontal{
    width: 100%;
    height: 1px;
    background-color: #26282725;
}
.WWS__hero-solution-image-container{
    width: 50%;
}
.WWS__hero-solution-image-container img{    
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(0px 15px 5px  #26282715);
}
.WWS__hero-solution-bullets-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}
.WWS__hero-solution-bullets-container p{
    font-size: 32px;
}
/* Conclusion */
.WWS__hero-conclusion-container{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.WWS__hero-results-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.WWS__hero-results-image-container img{
    border-radius: 10px;
}
.WWS__hero-conclusion-title{
    font-family: "Archivo", sans-serif;   
    font-size: 48px;
    font-weight: 500;
}
.WWS__hero-conclusion-title2{
    font-family: "DM Serif Text", serif;
    font-style: italic;
    font-size: 48px;
    font-weight: 500;
    color: #FC5306;
}
.WWS__hero-conclusion-text{
    font-family: "Archivo", sans-serif;   
    font-size: 24px; 
    font-weight: 500; 
}

@media (max-width: 1400px) {
    .WWS__hero-challenge-image-container img{
        width: 300px;        
    }    
}
@media (max-width: 1200px) {
    .WWS__hero-challenge-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }
    .WWS__hero-challenge-image-container img{
        width: 300px;
        filter: drop-shadow(10px 15px 5px  #26282715);        
    }    
}
@media (max-width: 1024px) {
    .WWS__hero-title{        
        font-size: 65px;        
        line-height: 65px;
    }
    .WWS__hero-text{        
        font-size: 16px;        
        line-height: 18px;
    }
    .WWS__hero-challenge-image-container{        
        flex-direction: column;
        gap: 20px;
    }
    .WWS__hero-solution-container{        
        flex-direction: column;        
    }
    .WWS__hero-solution-title-container{
        width: 100%;
    }
    .WWS__hero-solution-image-container{
        width: 100%;
    }
    .WWS__hero-results-image-container img{
        width: 100%;
    }
    /* Stats */
    .WWS__hero-stats-image-container h2{
        font-size: 24px;
    }
    .WWS__hero-stats-text-container p{        
        font-size: 16px;        
    }
    .WWS__hero-stats-text-container h2{        
        font-size: 18px;        
    }
    .WWS__hero-stats3-text{
        font-size: 16px !important;    
    }
    /* Challenge */
    .WWS__hero-challenge-container, .WWS__hero-challenge-title-container, .WWS__hero-results-container{
        width: 80%;
        justify-content: center;
        align-items: center;
        padding:100px 0;
    }
    .WWS__hero-challenge-title-container, .WWS__hero-results-title-container{
        width: 100%;    
    }    
    .WWS__hero-challenge-title-container h2, .WWS__hero-results-title-container h2{ 
        font-size: 24px;
    }
    .WWS__hero-challenge-title-container p, .WWS__hero-results-title-container p{
        font-size: 18px;
    }
    .WWS__hero-challenge-image-container{
        display: flex;
        justify-content: space-between;    
    }
    .WWS__hero-challenge-image-container img{
        width: 400px;
        filter: drop-shadow(0px 15px 5px  #26282715);
        border-radius: 5px;    
    }
    /* Solution */
    
    .WWS__hero-solution-title-container h2{
        font-size: 32px;
    }
    .WWS__hero-solution-title-container p{
        font-size: 18px;           
    }        
    .WWS__hero-solution-bullets-container p{
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .WWS__hero-container{
        width: 95%;
        
    }
    .WWS__hero-tag{        
        font-size: 12px;
    }
    .WWS__hero-title-container{        
        flex-direction: column;        
        justify-content: flex-start;
        align-items: flex-start;
    }
    .WWS__hero-title{        
        font-size: 24px;        
        line-height: 24px;        
    }
    .WWS__hero-text{        
        font-size: 12px;        
        line-height: 12px;
    }
    /* Stats */
    .WWS__hero-stats-image-container h2{
        font-size: 24px;
    }
    .WWS__hero-stats-text-container p{        
        font-size: 12px;        
    }
    .WWS__hero-stats-text-container h2{        
        font-size: 16px;        
    }
    .WWS__hero-stats3-text{
        font-size: 12px !important;    
    }

    /* Challenge */
    .WWS__hero-challenge-container{
        padding: 0;
        width: 95%;
    }
    .WWS__hero-challenge-title-container{
        padding: 0;
    }    
    .WWS__hero-challenge-image-container img{
        width: 250px;        
    }
    /* Solution */
    .WWS__hero-solution-title-container h2{
        font-size: 24px;
    }
    .WWS__hero-solution-title-container p{
        font-size: 12px;           
    }        
    .WWS__hero-solution-bullets-container p{
        font-size: 16px;
    }
    .WWS__hero-solution-container{
        gap: 20px;
    }
    .WWS__hero-conclusion-title{        
        font-size: 24px;        
        text-align: center;
    }
    .WWS__hero-conclusion-title2{        
        font-size: 24px;        
    }
    .WWS__hero-conclusion-text{        
        font-size: 18px; 
        text-align: center;
    }
}