nav{    
    font-family: "Archivo", sans-serif;        
    background-color: #DAFF01;    
    z-index: 900;        
}

.navbar__Container{
    padding: 15px 45px;    
}
.nav-link{
    color: #242424;
    margin: 0 10px
}



@media (max-width: 768px) {
    /* nav{
        margin: 15px;        
    } */
    .navbar__Container{
        padding: 15px;
    }
    .navbar__Logo{
        width: 100%;
    }
    .navbar__MainContainer {
        padding: 0;
    }
    
    .nav-link {
        margin: 0 5px;
        font-size: 15px; 
    }

    .contactusbtn{        
        width: 100px;    
        padding: 5px 10px;
        font-weight: 400;
        font-size: 15px;
    }
}