.ourWorkCard__Container{
    border-radius: 18px;
}
.ourWorkCard__Img{
    width: 100%;
    border: none;
    border-radius: 18px;
    transition: all 0.3s ease-in-out;
}
.ourWorkCard__Img:hover{
    -webkit-transform: scale(1.05);  
    transform: scale(1.05);
}
.ourWorkCard__Video {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    
}
.ourWordCard__Tag-Container{    
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    margin-top: -20px;
}
.ourWorkCard__Tag-Text-Container{
    width: fit-content;
    background-color: #DAFF01;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: "Archivo", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(5deg);
}
.ourWorkCard__Tag{
    font-size: 18px;
    line-height: 16px;
    margin: 0;
}