.upgradeSection__MainContainer{
    background-image: url(../../assets/designers-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* NEW STYLES */

.designersSection__ContentContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.designerSection__Title{
    font-size: 80px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: #242424;
}
.designerSection__Text{
    color: #242424;
    font-size: 24px;
}
.designerSection__Btn-Container{
    display: flex;
    justify-content: center;
}
.upgradeSection__Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
    width: 50%;
    gap: 50px;
    padding: 20px;
}


@media (max-width: 1024px) {
    .upgradeSection__MainContainer{
        background-image: url(../../assets/designers-bg.png);        
        background-size: 100%;   
        justify-content: flex-start;             
        height: 100%;
        background-color: #282627;
    }
    .designerSection__Title{
        font-size: 40px;        
    }
    .designerSection__Text{        
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .upgradeSection__MainContainer{
        background-image: none;                
        justify-content: flex-end;             
        background-size: 50%;
    }
    .upgradeSection__Container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;    
        width: 100%;
        gap: 50px;
        padding: 20px;
        text-align: center;
    }
}
