/* MOBILE SECTION */
.services__Section-Cel{
    display: none;
}
.servicesSection__MainContainer{
    background-color: #282627;
    width: 100%;
    padding: 50px 100px;
}
.servicesSection__TitleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicesSection__Title{
    font-family: "DM Serif Text", serif;
    font-size: 75px;
    line-height: 102px;
    color: #DAFF01;
    margin-right: 50px;
}
.servicesSection__MiddleColumn-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url(../../assets/spark-Big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 100%;    
}

.servicesSection__ArrowRight{
    rotate: 180deg;
}
.servicesSection__Logo-StudioT{
    width: 100%;
}
.serviceSection__LogoContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.servicesSection__RightList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}
.servicesSection__Logo-Taktical{
    margin-top: 20px;
    width: 100%;    
}
.rightList__Item{
    display: flex;
    justify-content: flex-end;
}

/* Rotating Image */

.servicesSection__MiddleColumn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-swap-container{
    width: 50%;
    height: 70%;
    overflow: hidden;
}
.image-swap{
    background-image: url(../../assets/1.png);
    background-size: contain;
    background-repeat: no-repeat;    
    height: 100%;
    width: 100%;
    transform: none;
    transform-style: preserve-3d;    
    animation: imageRotation 9s infinite ease-in-out;
}
@keyframes imageRotation {
    0% { transform: rotateY(0deg); background-image: url(../../assets/1.png); }
    22% { transform: rotateY(0deg); background-image: url(../../assets/1.png); }
    
    33% { transform: rotateY(180deg); background-image: url(../../assets/2.png); }
    55% { transform: rotateY(180deg); background-image: url(../../assets/2.png); }

    66% { transform: rotateY(360deg); background-image: url(../../assets/3.png); }
    88% { transform: rotateY(360deg); background-image: url(../../assets/3.png); }

    100% { transform: rotateY(540deg); background-image: url(../../assets/1-2.png); }
}


@media (max-width: 1440px) {
    .servicesSection__MiddleColumn-Title{        
        margin: 0 150px;
    }
    
}
@media (max-width: 1200px) {
    .servicesSection__MiddleColumn-Title{        
        margin: 0 110px;
    }
    
}
@media (max-width: 1024px) {
    .servicesSection__MiddleColumn-Title{        
        margin: 0 50px;
    }
    .servicesSection__MainContainer{
        padding: 50px 50px;
    }
}
@media (max-width: 768px) {
    .servicesSection__MainContainer{                
        display: none;
    }
    
    /* Service Section Cel */
    .services__Section-Cel{
        display: flex;
        background-color: #282627;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding: 30px 0; 
        height: 800px;       
    }
    .services__SectionCel-Title{
        font-size: 50px;
        line-height: 48px;
        color: #DAFF01;
        font-family: "DM Serif Text", serif;
    }
    .services__SectionCel-PinkBtn-Container{
        width: 100%;
        padding: 10px 50px;
    }    
    .image-swap-container-cel{
        width: 70%;
        height: 70%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;                
    }
    .image-swap-cel{
        background-image: url(../../assets/1.png);
        background-size: contain;
        background-repeat: no-repeat;    
        height: 100%;
        width: 100%;
        transform: none;
        transform-style: preserve-3d;    
        animation: imageRotationCel 9s infinite ease-in-out;
        margin-bottom: -30px;
    }
    @keyframes imageRotationCel {
        0% { transform: rotateY(0deg); background-image: url(../../assets/1.png); }
        22% { transform: rotateY(0deg); background-image: url(../../assets/1.png); }
        
        33% { transform: rotateY(180deg); background-image: url(../../assets/2.png); }
        55% { transform: rotateY(180deg); background-image: url(../../assets/2.png); }
    
        66% { transform: rotateY(360deg); background-image: url(../../assets/3.png); }
        88% { transform: rotateY(360deg); background-image: url(../../assets/3.png); }
    
        100% { transform: rotateY(540deg); background-image: url(../../assets/1-2.png); }
    }
}