.sliderText{
    font-family: "Archivo", sans-serif;
    font-size: 20px;
    white-space: nowrap;
}
.clientlogosSlider{
    color: #242424;
    width: 75%;
    object-fit: contain;
}
section {
	display:flex;
	flex-flow:column;
	align-items:center;    
	div.container {
		transition:all .3s ease;		
	}
	@media (max-width:992px) { padding:0 20px 0 20px; }
}
section.slide-option {
    background-color: #E6FF58;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-top: solid 2px #242424;
    border-bottom: solid 2px #242424;
}

div.highway-slider {
	display:flex;
	justify-content:center;
    align-items: start;
	width:100%;
	height:50px;
	div.highway-barrier {
		overflow:hidden;
		position:relative;
	}
	ul.highway-lane {
		display:flex;
		height:200%;
		li.highway-car {
			flex: 1;
            display: flex;
            justify-content: center;
            align-items: center; 
            background: #ffffff00;
            color: #343434;
		}
	}
}


@keyframes translateinfinite {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-50px * 48)); } 
}
#infinite-left div.highway-barrier ul.highway-lane {
    display: flex;
    width: 300%; 
}

#infinite-left div.highway-barrier ul.highway-lane li.highway-car {
    width: 200px;
    height: 50px;
    animation: translateinfinite 35s linear infinite; 
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
@media (max-width: 1440px) {
    #infinite-left div.highway-barrier ul.highway-lane {
     
        width: 280%; 
    }   
}
@media (max-width: 1200px) {
    #infinite-left div.highway-barrier ul.highway-lane {
     
        width: 250%; 
    }   
}
@media (max-width: 1024px) {
    .sliderText{        
        font-size: 15px;          
    }
    .clientlogosSlider{        
        width: 50%;              
    }  
    #infinite-left div.highway-barrier ul.highway-lane {
     
        width: 300%; 
    }   
     
}
@media (max-width: 768px) {
    .sliderText{        
        font-size: 12px;          
    }
    .clientlogosSlider{        
        width: 40%;              
    }
    #infinite-left div.highway-barrier ul.highway-lane {
     
        width: 800%; 
    }   
}
